.wrapper {
  max-width: 70rem;
  margin: -3rem auto;  
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.totalsBox {      
  max-width: 70rem;
  margin: 1rem auto;
}

.totalsContent {      
  max-width: 53rem;
  margin: 5rem auto;
  margin-bottom: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;  
}

.listTasks {      
  max-width: 53rem;
  margin: 5rem auto;
  margin-bottom: 2rem;
  text-align: center;  
}

.listEmpty {      
  max-width: 52.5rem;
  margin: 2rem auto;
  margin-bottom: 2rem;
  text-align: center;
  padding-top: 4rem;
  border-top: 1px solid var(--gray-300);
}

.listEmptyMsgInfo { 
  margin-top: 1rem;       
  font-weight: bold;
  line-height: 1.4;
  font-size: 1rem;  
}

.totalsContent p {
  color: var(--blue);
  font-weight: bold;
  font-size: 0.875rem;  
}

.totalsContent p span {
  background: var(--gray-400);
  padding: 0.25rem 0.5rem;
  border-radius: 10px;
  color: var(--gray-200);
  font-size: 0.75rem;
}

.taskForm {
  width: 80%;     
  display: flex;
  align-items: center;
  justify-content: center;  
}

.taskForm input[type=text] {
  width: 80%;
  background: var(--gray-500);
  border: 0;
  resize: none;
  height: 3.375rem;
  padding: 1rem;
  border-radius: 8px;
  color: var(--gray-300);
  line-height: 1.4;
  margin-top: 1rem;  
  margin-right: 1rem;
}

.taskForm input[type=text]:focus {  
  color: var(--gray-100);  
  outline: 1px solid var(--purple-dark);
}

.taskForm button[type=submit] {
  margin-top: 1rem;
  padding: 1rem 1.5rem;  
  border-radius: 8px;
  border: 0;
  background: var(--blue-dark);
  color: var(--gray-100);
  font-weight: bold;
  cursor: pointer;
  font-size: 0.875rem;
  transition: background-color 0.1s;    

  display: flex;
  align-items: center;
  justify-content: center;  
}

.taskForm button[type=submit] svg {
  margin-left: 0.2rem;
}

.taskForm button[type=submit]:not(:disabled):hover {
  background: var(--blue);
}

.taskForm button[type=submit]:disabled {
  opacity: 0.7;
  cursor: not-allowed;
}

