.wrapper {
  max-width: 70rem;
  margin: -3rem auto;  
  display: flex;
  align-items: center;
  justify-content: center;
}

.content {  
  line-height: 1.6;
  color: var(--gray-300);
  margin-top: 1.5rem;  
  border-top: 1px solid var(--gray-300);
}


.totalsBox {      
  max-width: 50rem;
  margin: 1rem auto;
  border-bottom: 1px solid var(--gray-300);
}

.totalsContent {      
  max-width: 50rem;
  margin: 5rem auto;
  margin-bottom: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;  
}

.listEmpty {      
  max-width: 50rem;
  margin: 5rem auto;
  margin-bottom: 2rem;
  text-align: center;
}

.listEmptyMsgInfo { 
  margin-top: 1rem;       
  font-weight: bold;
  line-height: 1.4;
  font-size: 1rem;  
}

.totalsContent p {
  color: var(--blue);
  font-weight: bold;
  font-size: 0.875rem;  
}

.totalsContent p span {
  background: var(--gray-400);
  padding: 0.25rem 0.5rem;
  border-radius: 10px;
  color: var(--gray-200);
  font-size: 0.75rem;
}

.taskForm {
  width: 80%;     
  display: flex;
  align-items: center;
  justify-content: center;  
}

.taskForm input[type=text] {
  width: 80%;
  background: var(--gray-500);
  border: 0;
  resize: none;
  height: 3.375rem;
  padding: 1rem;
  border-radius: 8px;
  color: var(--gray-300);
  line-height: 1.4;
  margin-top: 1rem;  
  margin-right: 1rem;
}

.taskForm button[type=submit] {
  margin-top: 0.75rem;
  padding: 1.05rem 1.5rem;  
  border-radius: 8px;
  border: 0;
  background: var(--blue-dark);
  color: var(--gray-100);
  font-weight: bold;
  cursor: pointer;
  font-size: 0.875rem;
  transition: background-color 0.1s;    

  display: flex;
  align-items: center;
  justify-content: center;  
}

.taskForm button[type=submit] svg {
  margin-left: 0.2rem;
}



@media (max-width: 768px) {

  html {
    font-size: 87.5%;
  }

  .wrapper {
    grid-template-columns: 1fr;
  }

}